#centralBox{
	background-color: rgba(0, 25, 50, 0.3);
	border-style:solid;
	border-radius:15px;
	border:5px;
	border-color:blue;
	width:600px;
	height:400px;
	margin:auto;
	text-align: center;

}

#titleText{
	margin-top:100px;
	padding-top:100px;
	color:white;
}